.wrapper {
margin-bottom: 10px;
}

.heading {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #111827;
  margin-top: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

/* Card */
.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 0.9rem;
  border: 1px solid #e5e7eb;
  transition: box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  min-height: 90px; /* ⬅️ increased slightly */
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

/* Image container */
.imageWrapper {
  background: #fff;
  border-radius: 12px;
  padding: 1.25rem;  
  height: 100px;        /* ⬅️ main change (bigger image = taller card) */
 margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageWrapper img {
   max-width: 1000%;
   max-height: 500%; 
  object-fit: cover;
  
}

/* Text */
.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #111827;
}

.desc {
  font-size: 12px;
  color: #6b7280;
  line-height: 1.4;
}