.passwordWrapper {
  position: relative;
  width: 100%;
 
}
.input{
    width: 100%;
    padding-right: 48px; 
}

.eyeBtn {
  position: absolute;
  right: 14px;
  top: 55%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}