.passwordWrapper {
  position: relative;
  width: 100%;
 
}
.input{
    width: 100%;
    padding-right: 48px; 
    height: 48px;
    font-size: 16px;
    box-sizing: border-box;
}

.eyeBtn {
  position: absolute;
  right: 14px;
  top: 70%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  justify-content: center;
}