.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 32px 24px;
  border-right: 1px solid #e5e7eb;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: -35px;

}

.logoImg{
    width: 100px;
    height: 100px;
     background-color: #f9fafb;
     mix-blend-mode: multiply;
}

.logoText{
    font-size: 18px;
    font-weight: 700;
    color: #111827; 
    line-height: 1;
    margin-left: -20px;
    margin-top: -6px;
}
.mainNav,
.secondaryNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.spacer {
  padding: 24px;
}

/* Link */
.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 18px 16px;
  border-radius: 10px;
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #374151;
  width: 100%;
}

.link svg {
  color: #6b7280;
}

/* Hover */
.link:hover {
  background: #f1f5f9;
}

/* Active */
.active {
  background: #e6f0ff;
  color: #2563eb;
  padding-left: 20px;
  
}
.link svg{
  color: #6b7280;
}

.active svg {
  color: #2563eb;
  
}
.logoutButton{
  margin-top: 100px;
}
