.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 20px 15px;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: -45px;
    margin-left: -35px;

}

.logoImg{
    width: 100px;
    height: 100px;
     background-color: #f9fafb;
     mix-blend-mode: multiply;
}

.logoText{
    font-size: 18px;
    font-weight: 700;
    color: #111827; 
    line-height: 1;
    margin-left: -20px;
    margin-top: -6px;
}
.mainNav,
.secondaryNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.spacer {
  padding: 10px;
}

/* Link */
.link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  border-radius: 10px;
  border: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #374151;
  width: 100%;
  margin-bottom: 15px;
}

.link svg {
  color: #6b7280;
}

/* Hover */
.link:hover {
  background: #f1f5f9;
}

/* Active */
.active {
  background: #e6f0ff;
  color: #2563eb;
  padding-left: 20px;
  
}
.link svg{
  color: #6b7280;
}

.active svg {
  color: #2563eb;
  
}
.logoutButton{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: #ef4444;
  background-color: #ffffff;
  border: 1px solid #ef4444;
  border-radius: 8px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  transition: all 0.2s ease;
  flex: 1;
  margin-top: 60px;
}
.logoutButton:hover{
  background-color: #ef4444;
  color: #ffffff;
}

